.register {
  margin: 50px 0;

  .row {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    .left,
    .right {
      flex: 1;

      h1 {
        color: gray;
        margin-bottom: 30px;
        font-size: 32px;
      }
    }

    .btn-register {
      width: 100%;
      color: white;
      height: 40px;
      background-color: #1dbf73;
      border-radius: 4px;
      font-weight: 600;
      font-size: 16px;
      border: none;
      cursor: pointer;
    }

    .right {
      .active-seller {
        display: flex;
        align-items: center;
        gap: 10px;
        color: gray;
        padding-top: 20px;
        margin-bottom: 48px;
        font-size: 18px;

        .toggler-wrapper {
          display: block;
          width: 45px;
          height: 25px;
          cursor: pointer;
          position: relative;
        }

        .toggler-wrapper input[type="checkbox"] {
          display: none;
        }

        .toggler-wrapper input[type="checkbox"]:checked + .toggler-slider {
          background-color: #44cc66;
        }

        .toggler-wrapper .toggler-slider {
          background-color: #ccc;
          position: absolute;
          border-radius: 100px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
        }

        .toggler-wrapper .toggler-knob {
          position: absolute;
          -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
        }

        .toggler-wrapper.style-1
          input[type="checkbox"]:checked
          + .toggler-slider
          .toggler-knob {
          left: calc(100% - 19px - 3px);
        }

        .toggler-wrapper.style-1 .toggler-knob {
          width: calc(25px - 6px);
          height: calc(25px - 6px);
          border-radius: 50%;
          left: 3px;
          top: 3px;
          background-color: #fff;
        }
      }
      textarea {
        height: 290px;
      }
    }
  }

  .error {
    color: rgb(233, 2, 6);
    font-weight: 500;
    margin-top: 10px;
    display: block;
  }
}


@media(max-width: 768px) {
  .register {
    margin: 20px 0;

    .container {

      .row {
        flex-direction: column;
        gap: 15px;

        .left, .right {
          h1 {
            margin-bottom: 10px;
            font-size: 17px;
          }

          .active-seller {
            margin-bottom: 12px;
            font-size: 15px;

            .toggler-wrapper {
              width: 40px;
              height: 20px;

              .toggler-knob {
                width: 15px;
                height: 15px;
                left: 3px;
                top: 2px;
              }
            }
          }

          textarea {
            height: 120px;
          }

          .btn-register {
            height: 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
}