.trusted-by-wrapper {
  padding: 30px 0;

  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    span {
      font-weight: 600;
      font-size: 19px;
      color: rgb(200, 200, 200);
    }
  }
}

@media(max-width: 768px) {
  .trusted-by-wrapper {
    padding: 15px 0;

    .content {
      gap: 15px;

      span {
        display: none;
      }

      div:last-child {
        display: none;
      }
    }
  }
}

.card-slider {
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text {
    position: absolute;
    top: 15px;
    left: 15px;
    color: white;

    p {
      font-weight: 400;
    }

    h3 {
      font-size: 25px;
    }
  }
}

.selling-proposition {
  padding: 100px 0;
  background-color: #f1fdf7;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      flex: 2;

      h1 {
        color: #404145;
      }

      .item {
        margin-top: 25px;

        .head {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 10px;

          .icon {
            border: 2px solid gray;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;

            svg {
              width: 17px;
              color: gray;
            }
          }

          h4 {
            font-size: 20px;
            color: #444;
          }
        }

        p {
          font-size: 18px;
          line-height: 1.3;
          color: gray;
        }
      }
    }

    .right {
      flex: 3;
      display: flex;
      align-items: center;
      justify-content: center;

      video {
        width: 720px;
      }
    }
  }
}

@media(max-width: 1160px) {
  .selling-proposition {
    padding: 50px 0;

    .container {
      flex-direction: column;
      gap: 30px;

      .left {

        h1 {
          font-size: 21px;
        }

        .item {
          
          .head {
            .icon {
              width: 20px;
            }

            h4 {
              font-size: 18px;
            }
          }

          p {
            font-size: 14px;
          }

        }
      }

      .right {
        video {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.fib-banner {
  padding: 100px 0;
  background-color: #0d084d;

  .container {
    display: flex;
    justify-content: space-between;

    .left {
      flex: 1;
      color: white;

      h2 {
        font-size: 25px;
        margin: 30px 0 20px;
        font-size: 35px;

        em {
          font-weight: 300;
        }
      }

      > p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.5;
      }

      .items {
        .item {
          display: flex;
          gap: 10px;
          align-items: center;
          margin-bottom: 20px;

          .icon {
            border: 2px solid gray;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1px;

            svg {
              width: 17px;
              color: gray;
            }
          }

          p {
            font-size: 17px;
          }
        }
      }

      .btn-banner {
        background-color: #1dbf73;
        color: white;
        font-weight: 600;
        padding: 8px 25px;
        border-radius: 6px;
        font-size: 17px;
        margin-top: 30px;
        border: none;
      }
    }

    .right {
      flex: 1;
      text-align: center;
    }
  }
}

@media(max-width: 800px) {
  .fib-banner {
    padding: 50px 0;

    .container {
      flex-direction: column;
      gap: 40px;

      .left {

        svg {
          width: 165px;
        }

        h2 {
          margin: 15px 0 10px;
          font-size: 25px;
        }

         p {
          font-size: 14px !important;
        }

        .item {

          .icon {
            width: 18px;
          }
        }

        .btn-banner {
          margin-top: 10px;
          font-size: 14px;
          padding: 8px 18px;
        }
      }

    }
  }
}

.made-on-fiverr {
  background-color: #f5f5f5;
  padding: 30px 0;

  .project-card {
    height: 350px;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    display: block;
    box-shadow: 1px 3px 10px #00000030;
  
    .img-cover {
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
  
    .info {
      padding: 10px 10px 0;
      display: flex;
      align-items: center;
      gap: 12px;
  
      img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
      }
  
      .text {
        h3 {
          font-weight: 600;
          font-size: 15px;
        }
  
        span {
          font-size: 14px;
          color: gray;
        }
      }
    }
  }
  
}

@media(max-width: 768px) {

  .made-on-fiverr {

    .slide {
      h1 {
        font-size: 23px;
      }
    }
  }
}