.slide {
  h1 {
    margin-bottom: 20px;
    color: #444;
  }

  .carousel-initialized {
    position: relative;
  }

  .carousel-track {
    height: 370px !important;
  }

  .carousel-row {
    padding: 0 8px;
    height: 100%;
  }

  .carousel-item {
    height: 100%;
  }

  .carousel-prev,
  .carousel-next {
    width: 40px;
    height: 40px;
    background-color: rgb(243, 243, 243);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}


@media(max-width: 768px) {
  .slide {

    .carousel-track {
    height: 290px !important;
  }
  }
}