.footer {
  border-top: 1px solid rgb(207, 207, 207);

  .footer-top {
    padding: 60px 0;

    .rows {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
      gap: 30px;

      .col {

        h3 {
          color: #444;
          font-weight: 500;
        }

        p {
          margin-top: 25px;
          color: gray;
        }
      }
    }
  }

  .footer-bottom {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(207, 207, 207);

    .footer-left {
      display: flex;
      align-items: center;
      gap: 15px;

      p {
        color: gray;
      }
    }

    .footer-right {
      display: flex;
      align-items: center;
      gap: 15px;

      a {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: gray;
        }

        &:hover {
          background-color: rgb(199, 199, 199);
        }
      }
    }
  }
}

@media(max-width:768px) {

  .footer {
     .footer-top {
      padding: 30px 0;

      .rows {
        gap: 15px;

        .col {
          h3 {
            font-size: 17px;
          }

          p {
            margin-top: 13px;
            font-size: 14px;
          }
        }
      }
     }
     
     .footer-bottom {
      padding: 15px 0;
      flex-direction: column;

      .footer-left {
        flex-direction: column;
        gap: 0;
        margin-bottom: 10px;

        svg {
          width: 75px;
        }

        p {
          font-size: 14px;
        }
      }

      .footer-right {
        gap: 8px;
      }
     }
  }
}