.add-gig {
  margin: 30px 0;

  .title {
    font-size: 28px;
    font-weight: 400;
    color: gray;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 70px;

    .left,
    .right {
      flex: 1;
    }

    .input-item {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;

      label {
        font-size: 18px;
        color: gray;
      }

      input,
      select,
      textarea {
        padding: 10px;
        font-size: 16px;
        border: 1px solid rgb(187, 187, 187);
        border-radius: 3px;
      }

      .long-desc {
        height: 270px;
      }

      .short-desc {
        height: 100px;
      }
    }

    .btn-create {
      width: 100%;
      color: white;
      height: 40px;
      background-color: #1dbf73;
      border-radius: 4px;
      font-weight: 600;
      font-size: 16px;
      border: none;
    }
  }
}
