.content {
   table {
    margin-top: 30px;
    width: 100%;

    thead {
      th {
        text-align: left;
        padding: 15px 0px;
      }
    }

    tbody {
      margin-top: 15px;

      tr {
        td {
          margin-top: 15px;
          padding: 15px 0;

          img {
            width: 50px;
            border-radius: 3px;
          }

          button {
            border: none;
            background-color: transparent;
            cursor: pointer;

            svg {
              width: 24px;
              color: #e9000ee0;
            }
          }

          .icon-message {
            background-color: rgb(3, 77, 205);
            border-radius: 50%;
            width: 30px;
            height: 30px;

            svg {
                color: white;
            }
          }
        }

        &:nth-child(even) {
          background-color: #1dbf7316;
        }
      }
    }
  }
 }

 @media(max-width: 768px) {

    .content {
        overflow: auto;

         &::-webkit-scrollbar {
              height: 7px;
          }


          &::-webkit-scrollbar-thumb {
              background-color: darkgrey;
              border-radius: 30px;
          }

          &::-webkit-scrollbar-track {
              background-color: rgb(223, 223, 223);
          }

        table {
          white-space: nowrap;
          margin-top: 15px !important;

          th, td {
            padding: 10px 10px !important;
          }
        }
      }
    }